body {
    margin: 0;
    background-color: black;
}

header {
    height: 15vh;
    background-color: hotpink;

}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
    padding: 3%;
}

.main {
    height: 85vh;
    font-size: 0;
}
.stats-container, #game-area {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; /*or text-top, because there's text in sibling div*/
}

.stats-container {
    height: 100%;
    width: 20%;
    text-align: center;
    background-color: cyan;
}


#game-area {
    height: 100%;
    width: 80%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 15%;
    height: 30%;
    background-color: lightsalmon;
    position: relative;
}

.front img, .back img {
    width: 100%;
    position: absolute;
}